
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FacebookLogin</title>
</head>
<body>
    <form asp-action="FacebookLogin" method="post">
        <button type="submit">Giriş Yap</button>
    </form>
</body>
</html>
